---
layout: ""
page_title: "Provider: Buddy"
description: |-
  The Buddy provider is used to interact with a Buddy's resources.
---

# Buddy Provider

The Buddy provider is used to interact with a Buddy's resources.
The provider needs to be configured with the proper credentials before it can be used.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}