---
layout: ""
page_title: "Provider: Buddy"
description: |-
  The Buddy provider provides resources to interact with a buddy.works API.
---

# Buddy Provider

The Buddy provider provides resources to interact with a buddy.works API.
You must configure the provider with the proper credentials before you can use it.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}